/* Default Colors: https://colorhunt.co/palette/f2f2f2eae4d5b6b09f000000*/

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

* {
    font-family: Oswald;
    margin:0px;
    padding: 0px;
}

body{
    background-color: #000000;
    color:#F2F2F2;

}
/* NAV BAR */
a {
    text-decoration: none;
    color:#F2F2F2;
}

.logo {
    letter-spacing: 2.0px;
    text-transform: capitalize;
    font-size: 30px;
    font-family: Oswald;
    color:#F2F2F2;
}

nav {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: #000000;
    height: 20vh;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    display:flex;
}

.nav-list li{
    letter-spacing: 1px;
    margin-left: 32px;
    font-size: 15px;
}

nav ul a::after{
    content: "";
    background-color: #EAE4D5;
    height: 2px;
    width:0%;
    display:block;
    margin: 0 auto;
    transition: 0.5s;
}
nav ul a:hover::after{
    width:100%;
}
/* ----------- */
.apresentacao{
    padding: 35px;
    font-size: 30px;
    background-color: #000000;
    color: #B6B09F;
    width: 100vth;
    height: 250px;
    padding-top: 100px;
    text-align: center;
}

.redes .icons img{
    height:70px;
}
.icons{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
/*Title Text*/
.title{
    display:block;
    justify-content:space-around;
    align-items: left;
    height: 10vh;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 150px;
    font-size: 25px;
}



/* FOOOOOTER */
footer {
    text-align: center;
}